@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:ital,wght@0,500;0,700;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
    font-family: rubik;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-rows: 2.5fr 4fr;
    height: 100vh;
    width: 100vw;
}

.search-area{
    align-items: center;
    background: url(../images/pattern-bg.png) center / cover;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 100%;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    width: 100%;
}

h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem 0 1rem 0;
    width: 100%;
}

form{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
}

#input{
    border: none;
    border-radius: 1rem 0 0 1rem;
    font-size: .6rem;
    margin-right: -5px;
    padding: .6rem;
    outline: none;
    width: 30rem;
}

.button-submit{
    border: none;
    background: url(../images/icon-arrow.svg) center / .8rem no-repeat;
    background-color: #000;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
    padding: .5rem 2rem;
}

.button-submit:hover{
    cursor: pointer;
}

span{
    color:#fff;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.infos-area{
    animation: fadeUp .5s ease-in-out forwards;
    background: #fff;
    border-radius: 1rem;
    bottom: 55px;
    box-shadow: 0px 7px 17px 0px #333;
    padding: 1rem;
    position: absolute;
    z-index: 10;
}


@keyframes fadeUp {
    from{
        transform: translateY(0px);;
        opacity: 0;
    }
    to{
        transform: translateY(110px);
        opacity: 1;
    }
}

ul{
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    list-style: none;
    width: 80vw;
}

/* li{
    display: flex;
    justify-content: space-around;
} */


.title-area{
    color: darkgray;
    display: block;
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.response{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
}

.map-area{
    z-index: 1;
}

#map {
    height: 100%; 
    width: 100%;
}

.leaflet-top {
    top:initial;
    bottom: 1rem;
}

footer{
    font-size: .5rem;
    text-align: center;
}

a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

a:hover{
    color: white;
}

