@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:ital,wght@0,500;0,700;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
    font-family: rubik;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-rows: 2.5fr 4fr;
    height: 100vh;
    width: 100vw;
}

.search-area{
    align-items: center;
    background: url(../images/pattern-bg.png) center / cover;
    display: flex;
    flex-direction: column;
    font-size: 2rem; 
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    margin: 3rem 0 1rem 0;
    width: 100%;
}

form{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    transition: 0s;
    width: 100%;
}

#input{
    border-radius: 1rem 0 0 1rem;
    margin-right: -5px;
    padding: 1rem;
    width: 30rem;
}

.button-submit{
    background: url(../images/icon-arrow.svg) center / 1rem no-repeat;
    background-color: black;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
    margin-left: -5px;
    padding: 1rem 2rem;
}

.infos-area{
    background: #fff;
    border-radius: 1rem;
    bottom: -98px;
    box-shadow: 0px 7px 17px 0px #333;
    padding: 1rem;
    position: absolute;
    z-index: 1rem;
}

ul{
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    list-style: none;
    width: 80vw;
}

.title-area{
    color: darkgray;
    display: block;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.response{
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

li+li {
    margin-left: 3rem;
    position: relative;
}

div{
    padding-left: 3rem;
}

.map-area{
    height: 65vh;
}

#map { 
    height: 100%; 
    width: 100%;
}


a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

a:hover{
    color: white;
}

